* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
   
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.box {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

button{
    width: 40px;
    height: 20px;
    color: brown;
}