*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.calculator{
    width: 80vw;
    max-width: 300px;
    height: 380px;
    background-color: rgb(25, 47, 42);
    box-shadow: 1px 5px 20px rgb(23, 23, 72),-1px -5px 20px blue;
    border-radius: 10px;
}
.display{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    

}
.display input{
    width: 100%;
    height: 100%;
        border-radius: 10px;
        box-shadow: 1px 2px 10px rgba(0, 0,0,0.8),-1px -2px 10px rgba(0, 0,0,0.8);
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    text-align: right;
    font-size: 27px;

}
.buttons{
width: 100%;
height: 80%;
display: flex;
align-items: center;
justify-content:center;
flex-direction: column;

}
.row{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.row button{
width: 18%;
height: 80%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0,0,0.8),-1px -2px 10px rgba(0, 0,0,0.8);
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;

}
.row button:hover{
    box-shadow:inset 1px 2px 10px rgba(0, 0,0,0.8);
    font-size: small;
    color: rgba(255, 255, 255, 0.51);

}
#equal{
    width: 40%;
}
